@import "./../auth.scss";

// Responsive
@media (max-width: 414px) {
    h1.font {
        display: none;
    }
    p.fnt {
        display: none;
    }
    .top {
        margin: 23% 24% 0 0;
    }
    a.forPass {
        font-size: 7px;
    }
    .hide {
        display: none;
    }
    .forPas {
        font-size: 7px;
    }
}