<div class="back-bg">
  <div class="login-container">
    <div class="container">
      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="50" fxFlex.gt-xs="100" fxFlexAlign="stretch">
          <div fxLayout="column"  fxLayoutAlign="space-around left" fxFlexAlign="stretch">
            <div fxFlex="20">
              <h3 class="logo">
                Company <br /><span>Logo</span>
              </h3>
            </div>
            <div fxFlex="70">
              <div class="login-heading">
                <h1>welcome on<br /> Company admin portal</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and<br /> typesetting industry. Lorem Ipsum has been the industry's<br/> standard dummy text.</p>
              </div>
            </div>
            <div fxFlex="10">
              <div class="quick-links" >
                <ul>
                  <li>
                    <a>About us</a>
                  </li>
                  <li>
                    <a>Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50" fxFlex.gt-xs="100" >
          <mat-card class="loing-card" >
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form name="loginform" (ngSubmit)="login()" #loginform="ngForm">
                  <mat-label>Email Address</mat-label>
                  <mat-form-field appearance="standard">
                    <input matInput type="email" #email="ngModel" [(ngModel)]="formData.email" name="email" required autocomplete="off"  maxlength="50" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                  <div [hidden]="email.valid || email.untouched">
                    <span class="error" *ngIf="email.errors?.required">Email is mandatory.</span>
                    <span class="error"  *ngIf="email.errors?.pattern">Email is invalid</span>
                  </div>
                  <mat-label>Password</mat-label>
                  <mat-form-field appearance="standard">
                    <input matInput  [type]="fieldPasswordType ? 'text' : 'password'" #password [(ngModel)]="formData.password" maxlength="100" name="password" required autocomplete="off" />
                    <mat-icon matSuffix (click)="fieldPasswordType = !fieldPasswordType" style="cursor: pointer;">{{fieldPasswordType?'visibility_off':'visibility'}}</mat-icon>
                    <div *ngIf="password.errors && password.touched">
											<span class="password" *ngIf="password.errors?.required">Password is mandatory.</span>
										</div>
                  </mat-form-field>
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="login-form-links">
                  <div fxFlex="50">
                    <mat-checkbox (change)="rememberMe($event)" class="example-margin" >Remember Me</mat-checkbox>
                  </div>
                  <div fxFlex="50" class="forgot-link">
                    <a routerLink="/forgot-password">Forgot Password?</a>
                  </div>
                </div>
                  <button mat-raised-button color="primary" class="block-btn login-button"  [disabled]="!loginform.valid" >
                    LOGIN
                  </button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="front-bg">
  </div>
</div>
