<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Survey
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a>Survey</a></li>
      <li>Active Servey</li>
    </ul>
  </div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Survey name or title goes here</mat-card-title>
    <mat-card-subtitle><a class="primary-txt">view all 25 questions</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div  fxflexfill class="mid-graph" fxLayoutGap="10px grid" >
      <div fxFlex="30" >
        <img src="./assets/img/echarts_1.png" />
      </div>
      <div fxFlex="30" >
        <img src="./assets/img/Image_9.png" />
      </div>
      <div fxFlex="40">

      </div>
    </div>
  </mat-card-content>
</mat-card>
