<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Setting
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li>Setting</li>
    </ul>
  </div>
</div>
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="100">
    <mat-card class="employee-tab">
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Theme" >
            <form name="ThemeForm" (ngSubmit)="updateTheme()" #ThemeForm="ngForm">
            <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
              <div fxFlex="50">
                <span class="card-title">Lable</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
              </div>
              <div fxFlex="50">
                <mat-label>Website Name</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #company_websiteName  [(ngModel)]="themeData.company_websiteName"  name="company_websiteName" required autocomplete="off" />

                </mat-form-field>
                <div *ngIf="company_websiteName.errors && company_websiteName.touched">
                  <span class="error" *ngIf="company_websiteName.errors?.required">Website is mandatory.</span>
                </div>

                <mat-label>Company Brand</mat-label>
                <mat-form-field>
                  <input matInput  type="color" #company_Brand  name="company_Brand" [(ngModel)]="themeData.company_Brand" [value]="themeData.company_Brand"  required autocomplete="off" />

                </mat-form-field>
                <div *ngIf="company_Brand.errors && company_Brand.touched">
                  <span class="error" *ngIf="company_Brand.errors?.required">Brand is mandatory.</span>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
              <div fxFlex="50">
                <span class="card-title">Logo and iconography</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relyin. </p>
                <br />
                <p>Recommended image size is 40px x 40px</p>
              </div>
              <div fxFlex="50">
                <mat-label>Light Logo</mat-label>
                <div class="dropzone">
                  <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label><mat-icon>note_add</mat-icon><br />
                      Upload Your Document<br />
                      <small>drag & drop to upload the document</small>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label [style]="'background:'+themeData.favicon">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
              <div fxFlex="50">
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relyin. </p>
                <br />
                <p>Recommended image size is 40px x 40px</p>
              </div>
              <div fxFlex="50">
                <mat-label>Favicon</mat-label>
                <div class="dropzone">
                  <ngx-dropzone (change)="onFaviSelect($event)">
                    <ngx-dropzone-label><mat-icon>note_add</mat-icon><br />
                      Upload Your Document<br />
                      <small>drag & drop to upload the document</small>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files2" [removable]="true" (removed)="onFaviRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" *ngIf="accessPermission">
              <div fxFlex="50">
              </div>
              <div fxFlex="50">
                <button mat-raised-button class="big-btn block-btn" color="primary" >Save Settings</button>
              </div>
            </div>
          </form>
          </mat-tab>
          <mat-tab label="Notifications">
            <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
              <div fxFlex="50">
                <span class="card-title">Lable</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
              </div>
              <div fxFlex="50">
                <section class="toggle-section">
                  <mat-label>Employee & Long Title Goes Here</mat-label>
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      checked="checked"
                  >
                  </mat-slide-toggle>
                </section>
                <section class="toggle-section">
                  <mat-label>Employee & Long Title Goes Here</mat-label>
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      checked="checked"
                  >
                  </mat-slide-toggle>
                </section>
                <section class="toggle-section">
                  <mat-label>Employee & Long Title Goes Here</mat-label>
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      checked="checked"
                  >
                  </mat-slide-toggle>
                </section>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner"  *ngIf="accessPermission">
              <div fxFlex="50">
              </div>
              <div fxFlex="50">
                <button mat-raised-button class="big-btn block-btn" color="primary" >Save Settings</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Security">
            <form name="SecurityForm" (ngSubmit)="updatePassword()" #SecurityForm="ngForm">
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Change Password</span>
                  <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
                </div>
                <div fxFlex="50">
                  <mat-label></mat-label>
                  <mat-form-field>
                    <input matInput  type="password" #oldpassword  name="oldpassword" [(ngModel)]="passwordData.oldpassword" required autocomplete="off" placeholder="Old Password" />

                  </mat-form-field>
                  <div *ngIf="oldpassword.errors && oldpassword.touched">
                    <span class="error" *ngIf="oldpassword.errors?.required">Old Password is mandatory.</span>
                  </div>
                  <mat-label></mat-label>
                  <mat-form-field>
                    <input matInput  type="password" #newpassword  name="newpassword"  [(ngModel)]="passwordData.newpassword" required autocomplete="off" placeholder="New Password" />

                  </mat-form-field>
                  <div *ngIf="newpassword.errors && newpassword.touched">
                    <span class="error" *ngIf="newpassword.errors?.required">New Password is mandatory.</span>
                  </div>
                  <mat-label></mat-label>
                  <mat-form-field>
                    <input matInput  type="password" #confirmpassword  name="confirmpassword"  [(ngModel)]="passwordData.confirmpassword" required autocomplete="off" placeholder="Confirm Password" />
                  </mat-form-field>
                  <div *ngIf="confirmpassword.errors && confirmpassword.touched">
                    <span class="error" *ngIf="confirmpassword.errors?.required">confirmpassword Password is mandatory.</span>
                  </div>
                  <div *ngIf="passNotMatched">
                    <span class="error" >Confirm Password is not matched.</span>
                  </div>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner"  *ngIf="accessPermission">
                <div fxFlex="50">
                </div>
                <div fxFlex="50">
                  <button mat-raised-button class="big-btn block-btn"  color="primary">Update Password</button>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="SMTP">
            <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid" *ngIf="smtpDataSet">
              <div fxFlex="50">
                <span class="card-title">Email Configurations</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
              </div>
              <div fxFlex="50">
                <mat-label>Mail Server</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #mail_Server  name="mail_Server" [(ngModel)]="smtpDataSet.mail_Server" required autocomplete="off" />
                  <div *ngIf="mail_Server.errors && mail_Server.touched">
                    <span class="error" *ngIf="mail_Server.errors?.required">Mail Server is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>SMTP Port</mat-label>
                <mat-form-field>
                  <input matInput  type="number" #smtp_Port  name="smtp_Port" [(ngModel)]="smtpDataSet.smtp_Port" required autocomplete="off" />
                  <div *ngIf="smtp_Port.errors && smtp_Port.touched">
                    <span class="error" *ngIf="smtp_Port.errors?.required">SMTP Server is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Username</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #userName  name="userName" [(ngModel)]="smtpDataSet.userName"  required autocomplete="off" />
                  <div *ngIf="userName.errors && userName.touched">
                    <span class="error" *ngIf="userName.errors?.required">Username is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Password</mat-label>
                <mat-form-field>
                  <input matInput  type="password" #password  name="password" [(ngModel)]="smtpDataSet.password" required autocomplete="off" />
                  <div *ngIf="password.errors && password.touched">
                    <span class="error" *ngIf="password.errors?.required">Password is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Server Security</mat-label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="smtpDataSet.server_Security">
                  <mat-radio-button value="TLS">TLS</mat-radio-button>
                  <mat-radio-button value="SSL">SSL</mat-radio-button>
                </mat-radio-group>

                <mat-label>Default Sender</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #default_Sender  name="default_Sender" [(ngModel)]="smtpDataSet.default_Sender" required autocomplete="off" />
                  <div *ngIf="default_Sender.errors && default_Sender.touched">
                    <span class="error" *ngIf="default_Sender.errors?.required">Default Sender is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Default Sender Name</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #default_SenderName  [(ngModel)]="smtpDataSet.default_SenderName"  name="default_SenderName" required autocomplete="off" />
                  <div *ngIf="default_SenderName.errors && default_SenderName.touched">
                    <span class="error" *ngIf="default_SenderName.errors?.required">Default Sender Name is mandatory.</span>
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="50">
              </div>
              <div fxFlex="50">
                <mat-label></mat-label>
                <button mat-raised-button class="big-btn block-btn" color="primary" (click)="updateSmtp()" *ngIf="accessPermission">Save Settings</button><br />
                <button mat-raised-button class="big-btn block-btn" color="light">Send Test Mail</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Salary">
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="100">
                <mat-toolbar color="light">
                  <span class="mat-toolbar-title">All Salary Type</span>
                  <span class="spacer"></span>
                  <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="getSalary()">
                    <mat-icon>sync</mat-icon>
                  </button>
                </mat-toolbar>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner"  >
              <div fxFlex="50">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Salary Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of salaryData">
                      <td>{{d.salaryType_id}}</td>
                      <td>{{d.salary_Type}}</td>
                      <td>
                        <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" *ngIf="accessPermission" (click)="confirmDialogSalary(d.salaryType_id)"  matTooltip="Delete"   color="light" ><mat-icon color="warn">delete</mat-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div fxFlex="10"></div>
              <div  fxFlex="40"  *ngIf="accessPermission">
                <mat-card>
                  <form name="SalaryForm" (ngSubmit)="addSalary()" #SalaryForm="ngForm">
                    <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                      <div fxFlex="100">
                        <mat-label>Salary Type</mat-label>
                        <mat-form-field>
                          <input matInput  type="text" #salaryType  [(ngModel)]="salarySet.salaryType"  name="salaryType" required autocomplete="off" />
                        </mat-form-field>
                        <div *ngIf="salaryType.errors && salaryType.touched">
                          <span class="error" *ngIf="salaryType.errors?.required">Salary Type is mandatory.</span>
                        </div>

                      </div>
                    </div>
                    <div fxLayout="row" class="theme-setting-inner">
                      <div fxFlex="100">
                        <mat-label></mat-label>
                        <button mat-raised-button class="big-btn block-btn" color="primary" >Save Salary</button>
                      </div>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Leaves">

            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="100">
                <mat-toolbar color="light">
                  <span class="mat-toolbar-title">All Leaves</span>
                  <span class="spacer"></span>
                  <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="getLeave()">
                    <mat-icon>sync</mat-icon>
                  </button>
                </mat-toolbar>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner"  >
              <div fxFlex="50">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Leave</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of leaveData">
                      <td>{{d.leaveType_id}}</td>
                      <td>{{d.leave_Type}}</td>
                      <td>
                        <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" *ngIf="accessPermission" (click)="confirmDialogLeave(d.leaveType_id)"  matTooltip="Delete"   color="light" ><mat-icon color="warn">delete</mat-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div fxFlex="10"></div>
              <div  fxFlex="40"  *ngIf="accessPermission">
                <mat-card>
                  <form name="LeaveForm" (ngSubmit)="addLeave()" #LeaveForm="ngForm">
                    <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                      <div fxFlex="100">
                        <mat-label>Leave Type</mat-label>
                        <mat-form-field>
                          <input matInput  type="text" #leaveType  [(ngModel)]="leaveDataSet.leaveType"  name="leaveType" required autocomplete="off" />
                        </mat-form-field>
                        <div *ngIf="leaveType.errors && leaveType.touched">
                          <span class="error" *ngIf="leaveType.errors?.required">leave Type is mandatory.</span>
                        </div>

                      </div>
                    </div>
                    <div fxLayout="row" class="theme-setting-inner">
                      <div fxFlex="100">
                        <mat-label></mat-label>
                        <button mat-raised-button class="big-btn block-btn" color="primary" >Save Leave</button>
                      </div>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Department">

            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="100">
                <mat-toolbar color="light">
                  <span class="mat-toolbar-title">All Departments</span>
                  <span class="spacer"></span>
                  <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="getDepartment()">
                    <mat-icon>sync</mat-icon>
                  </button>
                </mat-toolbar>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner"  >
              <div fxFlex="50">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Deaprtment</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of departmentData">
                      <td>{{d.department_id}}</td>
                      <td>{{d.department_Type}}</td>
                      <td>
                        <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" *ngIf="accessPermission" (click)="confirmDialog(d.department_id)"  matTooltip="Delete"   color="light" ><mat-icon color="warn">delete</mat-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div fxFlex="10"></div>
              <div  fxFlex="40"  *ngIf="accessPermission">
                <mat-card>
                  <form name="DepartmentForm" (ngSubmit)="addDepartement()" #DepartmentForm="ngForm">
                    <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                      <div fxFlex="100">
                        <mat-label>Department Name</mat-label>
                        <mat-form-field>
                          <input matInput  type="text" #departmentType  [(ngModel)]="departmentSet.departmentType"  name="departmentType" required autocomplete="off" />
                        </mat-form-field>
                        <div *ngIf="departmentType.errors && departmentType.touched">
                          <span class="error" *ngIf="departmentType.errors?.required">Department name is mandatory.</span>
                        </div>

                      </div>
                    </div>
                    <div fxLayout="row" class="theme-setting-inner">
                      <div fxFlex="100">
                        <mat-label></mat-label>
                        <button mat-raised-button class="big-btn block-btn" color="primary" >Save Department</button>
                      </div>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Holiday">
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="100">
                <mat-toolbar color="light">
                  <span class="mat-toolbar-title">All Holidays</span>
                  <span class="spacer"></span>
                  <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="getLeave()">
                    <mat-icon>sync</mat-icon>
                  </button>
                </mat-toolbar>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner"  >
              <div fxFlex="50">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Leave</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of leaveData">
                      <td>{{d.leaveType_id}}</td>
                      <td>{{d.leave_Type}}</td>
                      <td>
                        <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" *ngIf="accessPermission" (click)="confirmDialogLeave(d.leaveType_id)"  matTooltip="Delete"   color="light" ><mat-icon color="warn">delete</mat-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div fxFlex="10"></div>
              <div  fxFlex="40"  *ngIf="accessPermission">
                <mat-card>
                  <form name="LeaveForm" (ngSubmit)="addLeave()" #LeaveForm="ngForm">
                    <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                      <div fxFlex="100">
                        <mat-label>Leave Type</mat-label>
                        <mat-form-field>
                          <input matInput  type="text" #leaveType  [(ngModel)]="leaveDataSet.leaveType"  name="leaveType" required autocomplete="off" />
                        </mat-form-field>
                        <div *ngIf="leaveType.errors && leaveType.touched">
                          <span class="error" *ngIf="leaveType.errors?.required">leave Type is mandatory.</span>
                        </div>

                      </div>
                    </div>
                    <div fxLayout="row" class="theme-setting-inner">
                      <div fxFlex="100">
                        <mat-label></mat-label>
                        <button mat-raised-button class="big-btn block-btn" color="primary" >Save Leave</button>
                      </div>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
