<div fxLayout="row" fxLayoutAlign="space-around left" >
    <div fxFlex>
      <h3 class="page-title">
        Company Profile
      </h3>
      <ul class="breadcrumb">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li> <a> Company Profile</a></li>
        <li>Profile</li>
      </ul>
    </div>
</div>

<div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
    <div fxFlex="100">
      <mat-card class="employee-tab">
        <mat-card-content>
          <mat-tab-group mat-align-tabs="start">

            <div fxLayout="column">
            <mat-tab label="Company Profile">
              <form name="profileForm"  #profileForm="ngForm">
              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">General Information</span>
                  <p >Just a bit of info about your company, and the default language your employees will see when invited.</p>
                </div>
                <div fxFlex="50">
                  <h3> Company Name </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text" [(ngModel)]="profileSet.company_websiteName" name="company_websiteName" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                  <h3> Company Domain </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text" [(ngModel)]="profileSet.company_domain"   name="company_domain" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                  <h3> Business Name </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text" [(ngModel)]="profileSet.business_name"   name="business_name" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                </div>
              </div><br>

              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Language and Currency</span>
                  <p >Configure language and currency of your company.</p>
                </div>
                <div fxFlex="50">
                  <h3> Language </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text"  [(ngModel)]="profileSet.language"  name="language" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                  <h3> Default Currency </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text"  [(ngModel)]="profileSet.currency"  name="currency" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                </div>
              </div><br>

              <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
                <div fxFlex="50">
                  <span class="card-title">Address</span>
                  <p >Fill in the legal address of the company</p>
                </div>
                <div fxFlex="50">
                  <h3> Address Line </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text"  [(ngModel)]="profileSet.address"   name="address" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                  <h3>Country </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text"  [(ngModel)]="profileSet.country"   name="country" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                  <h3> City </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="text"  [(ngModel)]="profileSet.city"   name="city" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>
                  <h3> Zip code </h3>
                  <mat-form-field appearance="standard">
                    <input matInput  type="number"  [(ngModel)]="profileSet.zip_Code"   name="zip_Code" required autocomplete="off" /> <!--#company_websiteName  [(ngModel)]="themeData.company_websiteName"-->
                  </mat-form-field>

                </div>
              </div><br>





              <div fxLayout="row" class="theme-setting-inner" > <!--*ngIf="accessPermission"-->
                <div fxFlex="50">
                </div>
                <div fxFlex="50">
                  <button mat-raised-button class="big-btn block-btn" color="primary" [disabled]="!profileForm.valid">Save Settings</button>
                </div>
              </div>
            </form>
            </mat-tab>



          </div>




          <mat-tab label="Working Hours">
            <div fxLayout="row" class="theme-setting-inner" fxflexfill fxLayoutGap="10px grid">
              <div fxFlex="40">
                <span class="card-title">General Information</span>
                <p class="just">Just a bit of info about your company, and the default language your employees will see when invited.</p>
                <br />
              </div>
              <div fxFlex="60">
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
                  <table class="working">
                    <thead>
                      <tr>
                        <th>
                          Week Days
                        </th>
                        <th colspan="2">Working Shifts</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of workingDay;let i=index">
                        <td>{{item.day}}</td>
                        <td colspan="2">
                          <div class="time-field">
                            <mat-form-field>
                              <input matInput  type="time"  autocomplete="off" [(ngModel)]="item.inTime" name="inTime" [disabled]="item.OnOff" />
                            </mat-form-field>
                            <mat-icon>trending_flat</mat-icon>
                            <mat-form-field>
                              <input matInput  type="time"  autocomplete="off" [(ngModel)]="item.outTime" name="outTime" [disabled]="item.OnOff" />
                            </mat-form-field>
                          </div>
                        </td>
                        <td>
                          <button mat-mini-fab color="light" *ngIf="!item.OnOff" #tooltip="matTooltip" matTooltip="On" (click)="setOnOff('true', i)"><mat-icon color="primary">add</mat-icon></button>
                          <button mat-mini-fab  color="light"  *ngIf="item.OnOff" #tooltip="matTooltip" matTooltip="Off" (click)="setOnOff('false', i)"><mat-icon color="warn">remove</mat-icon></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="40">
              </div>
              <div fxFlex="60">
                <mat-label></mat-label>
                <button mat-raised-button class="big-btn block-btn" color="primary" (click)="companyWorkingDaySet()"  *ngIf="accessPermission">Save Settings</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab class="colr" label="Offices">

          </mat-tab>



            <mat-tab label="Subscription">
                <h3 class="page-title rr">Subscription Details</h3>
                <div fxLayout="row">
                    <div fxFlex="25" fxLayoutAlign="space-around" class="box1">
                      <div fxLayout="column">
                        <div class="round"></div>
                        <div class="para"></div>
                        <div></div>
                      </div>
                    </div>
                    <div fxFlex="25" fxLayoutAlign="space-around" class="box2">
                      <div fxLayout="column">
                          <div class="round">
                            <div class="doll"> <mat-icon>shopping_bag</mat-icon><h2 class="twn"> $20.00</h2> <span class="th">per month</span></div>
                          </div>

                          <div class="row mn">
                              <h3 class="ji">JitterBug </h3>
                          </div>
                          <div class="para1">
                              <p>
                                <span class="col1"> Dashboard </span>
                                <span class="col1"> Attendance </span>
                                <span class="col1"> Notifications/Announcement </span>
                                <span class="col1">Salary Management </span>
                                <span class="col1">Calendar </span>
                                <span class="col1">Insurance Management </span>
                                <span class="col1">HRA </span>
                                <span class="col1">HRAreports </span>
                                <span class="col1">Other Reports</span>
                                <span class="col2">Tracking - Health,Activity & Behavior </span>
                                <span class="col2">Coaching </span>
                                <span class="col2">Document Management </span>
                                <span class="col2">Leave Management </span>
                                <span class="col2">Reward Program </span>
                                <span class="col2">Survey </span>
                                <span class="col2">Messaging </span>
                                <span class="col2">Settings </span>
                                <span class="col1">Company Profile </span>
                                <span class="col1">Employee Management </span>
                                <span class="col1">FAQs & Privacy Policy </span>
                                <span class="col1">Menu </span>
                                <span class="col2">Role & Access </span>
                                <span class="col2">Integration with wearables </span>
                              </p>

                          </div>
                          <div>
                              <button mat-raised-button color="orange" class="but"> Select</button>
                          </div>
                      </div>
                    </div>
                    <div fxFlex="25" fxLayoutAlign="space-around" class="box3">
                        <div fxLayout="column">
                        <div class="round">
                          <div class="doll"><mat-icon>local_florist</mat-icon> <h2 class="thr"> $30.00</h2> <span class="th">per month</span></div>
                        </div>

                        <div class="row sw mn">
                            <h3 class="sw">Swing </h3>
                        </div>
                        <div class="para1">
                            <!-- <div *ngFor="let item of privacyPolicyData">
                                <p class="data_show1">{{item.description}}</p>
                            </div> -->
                            <p>
                                <span class="col1"> Dashboard </span>
                                <span class="col1"> Attendance </span>
                                <span class="col1"> Notifications/Announcement </span>
                                <span class="col1">Salary Management </span>
                                <span class="col1">Calendar </span>
                                <span class="col1">Insurance Management </span>
                                <span class="col1">HRA </span>
                                <span class="col1">HRAreports </span>
                                <span class="col1">Other Reports</span>
                                <span class="col1">Tracking - Health,Activity & behavior </span>
                                <span class="col1">Coaching </span>
                                <span class="col1">Document Management </span>
                                <span class="col1">Leave Management </span>
                                <span class="col2">Reward Program </span>
                                <span class="col2">Survey </span>
                                <span class="col2">Messaging </span>
                                <span class="col1">Settings </span>
                                <span class="col1">Company Profile </span>
                                <span class="col1">Employee Management </span>
                                <span class="col1">FAQs & Privacy Policy </span>
                                <span class="col1">Menu </span>
                                <span class="col1">Role & Access </span>
                                <span class="col1">Integration with wearables </span>
                             </p>
                        </div>
                        <div>
                            <button mat-raised-button color="green" class="gr"> Selected</button>
                        </div>
                    </div>
                    </div>
                    <div fxFlex="25" fxLayoutAlign="space-around" class="box4">
                        <div fxLayout="column">
                            <div class="round">
                              <div class="doll"><mat-icon>filter_vintage</mat-icon> <h2 class="for"> $40.00</h2> <span class="th">per month</span></div>
                            </div>

                            <div class="row mn">
                                <h3 class="jiv">Jive </h3>
                            </div>
                            <div class="para1">
                                <!-- <div *ngFor="let item of privacyPolicyData">
                                    <p class="data_show1">{{item.description}}</p>
                                </div> -->
                                <p>
                                    <span class="col1"> Dashboard </span>
                                    <span class="col1"> Attendance </span>
                                    <span class="col1"> Notifications/Announcement </span>
                                    <span class="col1">Salary Management </span>
                                    <span class="col1">Calendar </span>
                                    <span class="col1">Insurance Management </span>
                                    <span class="col1">HRA </span>
                                    <span class="col1">HRAreports </span>
                                    <span class="col1">Other Reports</span>
                                    <span class="col1">Tracking - Health,Activity & behavior </span>
                                    <span class="col1">Coaching </span>
                                    <span class="col1">Document Management </span>
                                    <span class="col1">Leave Management </span>
                                    <span class="col1">Reward Program </span>
                                    <span class="col1">Survey </span>
                                    <span class="col1">Messaging </span>
                                    <span class="col1">Setting </span>
                                    <span class="col1">Company Profile </span>
                                    <span class="col1">Employee Management </span>
                                    <span class="col1">FAQs & Privacy Policy </span>
                                    <span class="col1">Menu </span>
                                    <span class="col1">Role & Access </span>
                                    <span class="col1">Integration with wearables </span>
                                 </p>
                            </div>
                            <div>
                                <button mat-raised-button color="orange" class="but"> Select</button>
                            </div>
                        </div>


                    </div>
                </div>


            </mat-tab>


            <mat-tab label="Documents">
              <mat-toolbar color="light">
                <span class="mat-toolbar-title">Privacy Plicy</span>
              </mat-toolbar>
              <div ></div>
            </mat-tab>


        </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
