
<mat-icon class="closeModal" mat-dialog-close>close</mat-icon>
<div class="modal-box">
  <div fxLayout="row" class="">
    <div fxFlex="100">
      <span class="card-title">Add Sub Admin</span>
      <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
<form name="registerForm" (ngSubmit)="addSubAdmin()" #registerForm="ngForm">

    <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="50">
        <mat-label>First Name</mat-label>
        <mat-form-field>
          <input matInput  type="text" #first_name  name="first_name" [(ngModel)]="formData.first_name" placeholder="First name" required autocomplete="off"  />
        </mat-form-field>
        <div *ngIf="first_name.errors && first_name.touched">
          <span class="error" *ngIf="first_name.errors?.required">First name is mandatory.</span>
        </div>
      </div>
      <div fxFlex="50">
        <mat-label>Last Name</mat-label>
        <mat-form-field>
          <input matInput  type="text" #last_name  name="last_name" [(ngModel)]="formData.last_name" placeholder="First name" required autocomplete="off"  />
        </mat-form-field>
        <div *ngIf="last_name.errors && last_name.touched">
          <span class="error" *ngIf="last_name.errors?.required">Last name is mandatory.</span>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="50">
        <mat-label>Email</mat-label>
        <mat-form-field>
          <input matInput  type="email" #email  name="email" [(ngModel)]="formData.email" placeholder="Email" required autocomplete="off"  />
        </mat-form-field>
        <div *ngIf="email.errors && email.touched">
          <span class="error" *ngIf="email.errors?.required">Email is mandatory.</span>
        </div>
      </div>
      <div fxFlex="50">
        <mat-label>Password</mat-label>
        <mat-form-field>
          <input matInput  type="password" #password  name="password" [(ngModel)]="formData.password" placeholder="Password" required autocomplete="off"  />
        </mat-form-field>
        <div *ngIf="password.errors && password.touched">
          <span class="error" *ngIf="password.errors?.required">Password is mandatory.</span>
        </div>
      </div>
    </div>
    <div fxLayout="row"  fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="100">
        <mat-label>Profile</mat-label>
        <div class="dropzone">
          <ngx-dropzone (change)="uploadDoc($event)" multiple="false" maxFileSize="36000">
            <ngx-dropzone-label><mat-icon>note_add</mat-icon><br />
              Upload Your Document<br />
              <small>drag & drop to upload the document</small>
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </div>
    </div>
    <div fxLayout="row"  fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="50">
        <mat-label>Mobile</mat-label>
        <mat-form-field>
          <input matInput  type="tel" #mobile  name="mobile" [(ngModel)]="formData.mobile" placeholder="Mobile" required autocomplete="off"  />
        </mat-form-field>
        <div *ngIf="mobile.errors && mobile.touched">
          <span class="error" *ngIf="mobile.errors?.required">Mobile is mandatory.</span>
        </div>
      </div>
      <div fxFlex="50">
        <mat-label>Role</mat-label>
        <mat-form-field>
          <mat-select [(ngModel)]="formData.role" name="role" #role required>
            <mat-option *ngFor="let roled of roleData" [value]="roled.superadminRole_id">{{roled.role_Type}}</mat-option>
          </mat-select></mat-form-field>
      </div>
    </div>
    <div fxLayout="row"  fxflexfill fxLayoutGap="10px grid" class="">
      <div fxFlex="100">
        <mat-label>Address</mat-label>
        <mat-form-field>
          <input matInput  type="text" #address  name="address" [(ngModel)]="formData.address" placeholder="Address" required autocomplete="off"  />
        </mat-form-field>
        <div *ngIf="address.errors && address.touched">
          <span class="error" *ngIf="address.errors?.required">Address is mandatory.</span>
        </div>
      </div>
    </div>
    <div fxLayout="row" class="" >
      <div fxFlex="100">
        <mat-label></mat-label>
        <button mat-raised-button class="big-btn block-btn"  [disabled]="!registerForm.valid"  color="primary">Add Sub Admin</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
</div>
