<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Calendar
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li>Calendar</li>
    </ul>
  </div>
</div>
<div fxLayout="row"  class="mid-graph">
  <div fxFlex="100"  fxFlex.gt-xs="100"  >
    <mat-toolbar color="light">
      <span class="mat-toolbar-title">Calendar</span>
      <span class="spacer"></span>
      <mat-form-field class="search-field">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Search">
      </mat-form-field>
      <button mat-mini-fab color="primary" class="cal-button"  aria-label="Add new" >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="light" class="cal-button"  aria-label="Filter">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-mini-fab color="light" class="cal-button" aria-label="Sync">
        <mat-icon>sync</mat-icon>
      </button>
    </mat-toolbar>
    <ejs-schedule width='100%' height='550px' currentView="month" [selectedDate]="selectedDate" [eventSettings]="eventSettings" > <e-views><e-view option="Month"></e-view> <e-view option="Week"></e-view> <e-view option="Day"></e-view> </e-views> </ejs-schedule>
  </div>
</div>
