<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Setting
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li>Setting</li>
    </ul>
  </div>
</div>
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="100">
    <mat-card class="employee-tab">
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Theme Settings">
          </mat-tab>
          <mat-tab label="Notifications">
          </mat-tab>
          <mat-tab label="Security Settings">
          </mat-tab>
          <mat-tab label="FAQs">
          </mat-tab>
          <mat-tab label="Privacy Policy">
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
