<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Setting
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li>Setting</li>
    </ul>
  </div>
</div>
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="100">
    <mat-card class="employee-tab">
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Theme Settings">
            <form name="ThemeForm" (ngSubmit)="updateTheme()" #ThemeForm="ngForm">
            <div fxLayout="row" class="theme-setting-inner">
              <div fxFlex="50">
                <span class="card-title">Lable</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
              </div>
              <div fxFlex="50">
                <mat-label>Website Name</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #company_websiteName  [(ngModel)]="themeData.company_websiteName"  name="company_websiteName" required autocomplete="off" />

                </mat-form-field>
                <div *ngIf="company_websiteName.errors && company_websiteName.touched">
                  <span class="error" *ngIf="company_websiteName.errors?.required">Website is mandatory.</span>
                </div>

                <mat-label>Company Brand</mat-label>
                <mat-form-field>
                  <input matInput  type="color" #company_Brand  name="company_Brand" [(ngModel)]="themeData.company_Brand" [value]="themeData.company_Brand"  required autocomplete="off" />

                </mat-form-field>
                <div *ngIf="company_Brand.errors && company_Brand.touched">
                  <span class="error" *ngIf="company_Brand.errors?.required">Brand is mandatory.</span>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="50">
                <span class="card-title">Logo and iconography</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relyin. </p>
                <br />
                <p>Recommended image size is 40px x 40px</p>
              </div>
              <div fxFlex="50">
                <mat-label>Light Logo</mat-label>
                <div class="dropzone">
                  <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label><mat-icon>note_add</mat-icon><br />
                      Upload Your Document<br />
                      <small>drag & drop to upload the document</small>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="50">
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relyin. </p>
                <br />
                <p>Recommended image size is 40px x 40px</p>
              </div>
              <div fxFlex="50">
                <mat-label>Favicon</mat-label>
                <div class="dropzone">
                  <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label><mat-icon>note_add</mat-icon><br />
                      Upload Your Document<br />
                      <small>drag & drop to upload the document</small>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="50">
              </div>
              <div fxFlex="50">
                <button mat-raised-button class="big-btn block-btn" color="primary" >Save Settings</button>
              </div>
            </div>
          </form>
          </mat-tab>
          <mat-tab label="Notifications">
            <div fxLayout="row" class="theme-setting-inner">
              <div fxFlex="50">
                <span class="card-title">Lable</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
              </div>
              <div fxFlex="50">
                <section class="toggle-section">
                  <mat-label>Employee & Long Title Goes Here</mat-label>
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      checked="checked"
                  >
                  </mat-slide-toggle>
                </section>
                <section class="toggle-section">
                  <mat-label>Employee & Long Title Goes Here</mat-label>
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      checked="checked"
                  >
                  </mat-slide-toggle>
                </section>
                <section class="toggle-section">
                  <mat-label>Employee & Long Title Goes Here</mat-label>
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      checked="checked"
                  >
                  </mat-slide-toggle>
                </section>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="50">
              </div>
              <div fxFlex="50">
                <button mat-raised-button class="big-btn block-btn" color="primary">Save Settings</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Security Settings">
            <form name="SecurityForm" (ngSubmit)="updatePassword()" #SecurityForm="ngForm">
              <div fxLayout="row" class="theme-setting-inner">
                <div fxFlex="50">
                  <span class="card-title">Change Password</span>
                  <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
                </div>
                <div fxFlex="50">
                  <mat-label></mat-label>
                  <mat-form-field>
                    <input matInput  type="password" #oldpassword  name="oldpassword" [(ngModel)]="passwordData.oldpassword" required autocomplete="off" placeholder="Old Password" />

                  </mat-form-field>
                  <div *ngIf="oldpassword.errors && oldpassword.touched">
                    <span class="error" *ngIf="oldpassword.errors?.required">Old Password is mandatory.</span>
                  </div>
                  <mat-label></mat-label>
                  <mat-form-field>
                    <input matInput  type="password" #newpassword  name="newpassword"  [(ngModel)]="passwordData.newpassword" required autocomplete="off" placeholder="New Password" />

                  </mat-form-field>
                  <div *ngIf="newpassword.errors && newpassword.touched">
                    <span class="error" *ngIf="newpassword.errors?.required">New Password is mandatory.</span>
                  </div>
                  <mat-label></mat-label>
                  <mat-form-field>
                    <input matInput  type="password" #confirmpassword  name="confirmpassword"  [(ngModel)]="passwordData.confirmpassword" required autocomplete="off" placeholder="Confirm Password" />
                  </mat-form-field>
                  <div *ngIf="confirmpassword.errors && confirmpassword.touched">
                    <span class="error" *ngIf="confirmpassword.errors?.required">confirmpassword Password is mandatory.</span>
                  </div>
                  <div *ngIf="passNotMatched">
                    <span class="error" >Confirm Password is not matched.</span>
                  </div>
                </div>
              </div>
              <div fxLayout="row" class="theme-setting-inner" >
                <div fxFlex="50">
                </div>
                <div fxFlex="50">
                  <button mat-raised-button class="big-btn block-btn"  color="primary">Update Password</button>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="FAQs">
            <div fxLayout="row" class="theme-setting-inner">
              <div fxFlex="100">
                <mat-toolbar color="light">
                  <span class="mat-toolbar-title">FAQs</span>
                  <span class="spacer"></span>
                  <mat-form-field class="search-field">
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput placeholder="Search">
                  </mat-form-field>

                  <button mat-mini-fab color="light" class="cal-button" aria-label="Sync">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                </mat-toolbar>
                <mat-accordion *ngIf="faqData">
                  <mat-expansion-panel hideToggle *ngFor="let faq of faqData">
                    <mat-expansion-panel-header >
                      <mat-panel-title>
                        {{faq.question}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{faq.answer}}</p>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Privacy Policy">
            <mat-toolbar color="light">
              <span class="mat-toolbar-title">Privacy Plicy</span>
            </mat-toolbar>
            <div [froalaEditor] [innerHTML]="privacyPolicyData">{{privacyPolicyData}}</div>
          </mat-tab>
          <mat-tab label="SMTP Settings">
            <div fxLayout="row" class="theme-setting-inner">
              <div fxFlex="50">
                <span class="card-title">Email Configurations</span>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem Ipsum Is A Placeholder Text Commonly Used To Demonstrate The Visual Form Of A Document Or A Typeface Without Relying On Meaningful Content.</p>
              </div>
              <div fxFlex="50">
                <mat-label>Mail Server</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #mail_server  name="mail_server" required autocomplete="off" />
                  <div *ngIf="mail_server.errors && mail_server.touched">
                    <span class="error" *ngIf="mail_server.errors?.required">Mail Server is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>SMTP Port</mat-label>
                <mat-form-field>
                  <input matInput  type="number" #port  name="port" required autocomplete="off" />
                  <div *ngIf="port.errors && port.touched">
                    <span class="error" *ngIf="port.errors?.required">SMTP Server is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Username</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #username  name="username" required autocomplete="off" />
                  <div *ngIf="username.errors && username.touched">
                    <span class="error" *ngIf="username.errors?.required">Username is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Password</mat-label>
                <mat-form-field>
                  <input matInput  type="password" #password  name="password" required autocomplete="off" />
                  <div *ngIf="password.errors && password.touched">
                    <span class="error" *ngIf="password.errors?.required">Password is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Default Sender</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #sender  name="sender" required autocomplete="off" />
                  <div *ngIf="sender.errors && sender.touched">
                    <span class="error" *ngIf="sender.errors?.required">Default Sender is mandatory.</span>
                  </div>
                </mat-form-field>

                <mat-label>Default Sender Name</mat-label>
                <mat-form-field>
                  <input matInput  type="text" #sender_name  name="sender_name" required autocomplete="off" />
                  <div *ngIf="sender_name.errors && sender_name.touched">
                    <span class="error" *ngIf="sender_name.errors?.required">Default Sender Name is mandatory.</span>
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" class="theme-setting-inner" >
              <div fxFlex="50">
              </div>
              <div fxFlex="50">
                <button mat-raised-button class="big-btn block-btn" color="primary">Save Settings</button><br />
                <button mat-raised-button class="big-btn block-btn" color="light">Send Test Mail</button>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
