
    <mat-toolbar color="primary">
      <!-- <mat-icon class="closeModal" >keyboard_backspace</mat-icon> -->
      <span class="spacer"></span>
      <span class="mat-toolbar-title">Create New Survey</span>
      <span class="spacer"></span>
      <mat-icon class="closeModal" [routerLink]="['/hra']" routerLinkActive="router-link-active" >close</mat-icon>
    </mat-toolbar>
  <div class="main-hra-form-container">
    <form name="registerForm" #registerForm="ngForm">
      <div class="sub-hra-form-container" >

        <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
          <div fxFlex="100">
            <div class="form-ques">
              <mat-label>Form Name <span class="red-txt">*</span> </mat-label>
              <mat-form-field>
                <input matInput   type="text" maxlength="200"  name="formName" [(ngModel)]="formName"  />
                <mat-icon matSuffix class="blue-txt">create</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
          <div fxFlex="100">
            <div class="form-ques">
              <mat-label>Description <span class="red-txt">*</span> </mat-label>
              <mat-form-field>
                <textarea matInput maxlength="500"  name="formDescription" [(ngModel)]="formDescription"  ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let q of question;let i = index;">
          <div class="ques-tab">
            <span class="card-title">Question {{i+1}}</span>
            <p>Please fill below information to change your setting.</p>
            <div fxLayout="row"  fxflexfill fxLayoutGap="10px grid" class="">
              <div fxFlex="100">
                <div class="form-ques">
                  <mat-label>Question Type <span class="red-txt">*</span> </mat-label>
                  <mat-form-field>
                    <mat-select  name="survey_Type" [(ngModel)]="q.survey_Type">
                      <mat-option *ngFor="let t of qeustionType"  [value]="t.value">{{t.label}}</mat-option>
                    </mat-select></mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
              <div fxFlex="100">
                <div class="form-ques">
                  <mat-label>Question Name <span class="red-txt">*</span> </mat-label>
                  <mat-form-field>
                    <input matInput   type="text" maxlength="200"  name="survey_Title" [(ngModel)]="q.survey_Title"  />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row"  fxflexfill fxLayoutGap="10px grid" class="">
              <div fxFlex="100">
                <div class="form-ques">
                  <mat-label>Category <span class="red-txt">*</span> </mat-label>
                  <mat-form-field>
                    <mat-select name="category" [(ngModel)]="q.survey_Category"  name="survey_Category" #category required >
                      <mat-option  value="feedback">Feedback</mat-option>
                      <mat-option  value="evaluation">Evaluation</mat-option>
                      <mat-option  value="application_form">Application / Form</mat-option>
                      <mat-option  value="voting">Voting</mat-option>
                    </mat-select></mat-form-field>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
              <div fxFlex="100">
                <div class="form-ques">
                  <mat-label>Description <span class="red-txt">*</span> </mat-label>
                  <mat-form-field>
                    <textarea matInput maxlength="500"  name="survey_Description" [(ngModel)]="q.survey_Description"  ></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <ng-container *ngIf="q.survey_Type == 'text' || q.survey_Type == 'textarea'">
              <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="" >
                <div fxFlex="100">
                  <div class="form-ques">
                    <mat-label>Correct Answer </mat-label>
                    <mat-form-field>
                      <textarea matInput  maxlength="500"  name="answer" [(ngModel)]="q.survey_Answer"  ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-container>
            <div fxLayout="column" fxflexfill fxLayoutGap="10px grid" class="" *ngIf="q.survey_Type == 'slider'">
              <div fxFlex="100">
                  <div fxLayout="row" class="quesOption">
                    <div fxFlex="25">
                      <div class="form-ques">
                        <mat-label>Left Side</mat-label>
                          <mat-form-field>
                            <input matInput    maxlength="3" (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57" name="left" [(ngModel)]="q.survey_SliderOption.left"  />
                          </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="50">
                      <div class="form-ques">
                        <mat-label>Label</mat-label>
                          <mat-form-field>
                            <input matInput  maxlength="50" type="text" name="label" [(ngModel)]="q.survey_SliderOption.label"  />
                          </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="25">
                      <div class="form-ques">
                        <mat-label>Right Side</mat-label>
                          <mat-form-field>
                            <input matInput  maxlength="3"  (keypress)=" ($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57" name="right" [(ngModel)]="q.survey_SliderOption.right"  />
                          </mat-form-field>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div fxLayout="column" fxflexfill fxLayoutGap="10px grid" class="" *ngIf="q.survey_Type == 'slider' || q.survey_Type == 'multiSelect' || q.survey_Type == 'radio' || q.survey_Type == 'dropdown'|| q.survey_Type == 'linkert'">
              <div fxFlex="100" *ngFor="let o of q.survey_OptionArray;let io = index;">
                  <h3 *ngIf="q.survey_Type == 'slider'">Give point for slider value (eg, value = 10, point =2)</h3>
                  <div fxLayout="row" class="quesOption">
                    <div fxFlex="60">
                      <div class="form-ques">
                        <mat-label>Option</mat-label>
                          <mat-form-field>
                            <input matInput  maxlength="50" type="text" name="value{{io}}" [(ngModel)]="o.value"  />
                          </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="10">
                      <span class="option_options">
                        <mat-icon color="info" *ngIf="io == 0" (click)="addOption(i)">add_circle</mat-icon>
                        <mat-icon color="warn" *ngIf="io > 0" (click)="removeOption(i,io)">remove_circle</mat-icon>
                      </span>
                    </div>
                  </div>
              </div>
            </div>
            <div fxLayout="column" fxflexfill fxLayoutGap="10px grid" class="" *ngIf="q.survey_Type == 'rating'">
              <div fxFlex="100" *ngFor="let o of q.survey_OptionArray;let io = index;">
                  <div fxLayout="row" class="quesOption">
                    <div fxFlex="20">
                      <div class="form-ques">
                        {{io+1}}*
                      </div>
                    </div>
                    <div fxFlex="60">
                      <div class="form-ques">
                        <mat-label>Text for rating</mat-label>
                          <mat-form-field>
                            <input matInput  maxlength="50" type="text" name="value{{io}}" [(ngModel)]="o.value"  />
                          </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="10">
                      <span class="option_options">
                        <mat-icon color="info" *ngIf="io == 0" (click)="addOption(i)">add_circle</mat-icon>
                        <mat-icon color="warn" *ngIf="io > 0" (click)="removeOption(i,io)">remove_circle</mat-icon>
                      </span>
                    </div>
                  </div>
              </div>
            </div>
            <div *ngIf=" q.survey_Type == 'matrix'">
              <div fxLayout="row" >
                <div fxFlex="80">
                  <button mat-raised-button (click)="addColumn(i)" color="primary">Add Question</button>
                </div>
                <div fxFlex="20" dir="rtl">
                  <button mat-raised-button (click)="addRow(i)" color="accent"
                    [disabled]="q.survey_ColumnArray.length == 0">Add Answer</button>
                </div>
              </div>
              <div class="simple-table-container overflow-auto text-nowrap" style="width: 100%;overflow: auto;"
                ms-responsive-table *ngIf="q.survey_ColumnArray.length > 0">
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
                  <div fxFlex="30">
                    <mat-label>Question</mat-label>
                    <div fxLayout="column" *ngFor="let sub of q.survey_ColumnArray; let valueIndex=index;">
                      <mat-form-field appearance="outline"  class="form-ques">
                        <input matInput placeholder="Column name"  maxlength="50" [(ngModel)]="sub.label"
                          name="label{{valueIndex}}" required>
                        <button mat-icon-button matSuffix color="warn" (click)="removeColumn(i,valueIndex)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="30">
                    <mat-label>Answer</mat-label>
                    <div fxLayout="column" *ngFor="let sub of q.survey_RowArray; let rawIndex=index;">
                      <mat-form-field appearance="outline"  class="form-ques">
                        <input matInput placeholder="Column name" maxlength="50" [(ngModel)]="sub.label"
                          name="label{{rawIndex}}">
                        <button mat-icon-button matSuffix color="warn" (click)="removeRow(rawIndex)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="30">
                    <mat-label>Correct Answer no</mat-label>
                    <div fxLayout="column" *ngFor="let sub of q.survey_ColumnArray; let rawIndex=index;">
                      <mat-form-field appearance="outline"  class="form-ques">
                        <mat-select name="correct" [(ngModel)]="sub.correct"   #correct required>
                          <mat-option *ngFor="let sub of q.survey_RowArray;let i = index;"  [value]="i+1">{{i+1}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <br />
            <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" class="">
              <div fxFlex="10" >
                <mat-icon (click)="copy(i)" #tooltip="matTooltip" matTooltip="Copy question" >content_copy</mat-icon>
              </div>
              <div fxFlex="10"  *ngIf="i > 0">
                <mat-icon (click)="delete(i)"  #tooltip="matTooltip" matTooltip="Delete this question">delete</mat-icon>
              </div>
              <div fxFlex="20">
                <mat-slide-toggle
                  class="example-margin"
                  color="primary"
                  (change)="changeRequired($event,i)"
                  [checked]="q.isRequired == 0?false:true">
                  Required
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="toolbox"  (click)="openPreviewModal()">
          <mat-icon>play_circle_filled</mat-icon>
        </div>
      </div>
      <div class="short-container">

        <div fxLayout="row" fxFlexfill fxLayoutGap="10px grid" (click)="next()">
          <div fxFlex>
            <div class="add-section">
              <mat-icon color="light"  >add_circle</mat-icon><br />
              <p>Add New Question</p>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
          <div fxFlex="100">
            <mat-label></mat-label>
            <button mat-raised-button class="big-btn block-btn" (click)="addHra()"  color="green">Done</button>
          </div>
        </div>
      </div>
    </form>
  </div>
