<div fxLayout="row" fxLayoutAlign="space-around center" >
  <div fxFlex="40" >
    <h3 class="logo">
      Company <br /><span>Logo</span>
    </h3>
  </div>
</div>
<div fxLayout="row" class="user-info" fxLayoutAlign="space-around center" >
  <div fxFlex="40" >
    <div fxLayout="column" fxLaoyutAlign="space-around center">
      <img src="../../../assets/img/Ellipse_1_b.png" />
      <h4 class="user-name">Emily Smith</h4>
      <h6 class="usere-desig">Manager</h6>
    </div>
  </div>
</div>
<div fxLayout="row" class="side-nav" fxLayoutAlign="space-around center" >
  <div fxFlex="100" >
    <mat-list>
      <mat-list-item *ngFor="let nav of navs" [routerLink]="nav.url" routerLinkActive="active">
        <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
        <div mat-line>{{nav.title}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

