<div fxLayout="row" fxLayoutAlign="space-around center" >
  <div fxFlex="40" >
    <h3 class="logo">
      Company <br /><span>Logo</span>
    </h3>
  </div>
</div>
<div fxLayout="row" class="user-info" fxLayoutAlign="space-around center" >
  <div fxFlex="40" >
    <div fxLayout="column" fxLaoyutAlign="space-around center">
      <img src="../../../assets/img/Ellipse_1_b.png" />
      <h4 class="user-name">Emily Smith</h4>
      <h6 class="usere-desig">Manager</h6>
    </div>
  </div>
</div>
<div fxLayout="row" class="side-nav" fxLayoutAlign="space-around center" >
  <div fxFlex="100" >
    <mat-list>
      <mat-list-item  routerLink="/dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/calendar" routerLinkActive="active" >
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Calendar</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item    routerLink="/chat" routerLinkActive="active" >
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Chat</div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item  routerLink="/employees" routerLinkActive="active" >
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Employees</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/user-roles" routerLinkActive="active">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Roles & access</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Documents</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Announcements</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Salary Management</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Surveys</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Reports</div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Health & Wellness</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Insurance</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
        <div mat-line>Rewards</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

