<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Payslips
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a>Salary Management</a></li>
      <li>Payslips</li>
    </ul>
  </div>
</div>
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="100">
    <mat-card>
      <h3 class="logo">
        Company <br /><span>Logo</span>
      </h3>
      <span class="card-title">
        Pay Slip
      </span>
      <span class="card-subtitle">
        Atticus Finch LZE<br /> New delhi, 100021 India
      </span>
      <div fxLayout="row" class="header-bg">
        <div fxFlex="100">
          <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
            <div fxFlex="100">
              <span class="header-heading">Payslip for the month of May 2020</span>
            </div>
          </div>
          <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
            <div fxFlex="70">
              <div fxFlex="row" fxflexfill fxLayoutGap="10px grid" >
                <div fxFlex="20">
                  <ul class="headings">
                    <li>Employee</li>
                    <li>Designation</li>
                    <li>Date of joining</li>
                    <li>work location</li>
                    <li>Passport No.</li>
                  </ul>
                </div>
                <div fxFlex="70">
                  <ul class="details">
                    <li>Isabella William</li>
                    <li>Sr. Software Devloper</li>
                    <li>1 Jan 2013</li>
                    <li>Mohali, India</li>
                    <li>FUOPS6459A</li>
                  </ul>
                </div>
              </div>
            </div>
            <div fxFlex="30" dir="rtl">
              <span class="net-salary-head">
                Net salary
              </span>
              <span class="net-salary-amt">
                $ 50000
              </span>
              <span class="net-salary-det">
                fifty thousand only
              </span>
              <span class="payslip-no">
                Payslip #49029
              </span>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="section-bg">
        <div fxFlex="100">
          <table class="salary-table">
            <thead>
              <tr>
                <th colspan="2">Earnings</th>
                <th colspan="2">Deductions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BAsic Salary</td>
                <td>$ 2500</td>
                <td>Provident Fund</td>
                <td>$ 100</td>
              </tr>
              <tr>
                <td>Direct allowance</td>
                <td>$ 1500</td>
                <td>E.S.I</td>
                <td>$ 50</td>
              </tr>
              <tr>
                <td>HRA</td>
                <td>$ 500</td>
                <td>Insurance</td>
                <td>$ 200</td>
              </tr>
              <tr>
                <td>Conveyance</td>
                <td>$ 200</td>
                <td>Conveyance</td>
                <td>$ 25</td>
              </tr>
              <tr>
                <td>Conveyance</td>
                <td>$ 200</td>
                <td>TDI/IT</td>
                <td>$ 100</td>
              </tr>
              <tr class="sal-tab-footer">
                <td>Total earnings</td>
                <td>$ 4700</td>
                <td>Total Deductions</td>
                <td>$ 400</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </div>
</div>
