
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div fxFlex="10" fxFlex-md="10">
        <button mat-icon-button aria-label="Menu Toggle" (click)="toggelChild()">
          <mat-icon aria-hidden="false" aria-label="menu-toggle">menu</mat-icon>
        </button>
      </div>
      <div fxFlex="30" fxFlexOffset="60"  >
        <div fxLayout="row" fxLayoutAlign="space-around center" dir="rtl">
          <div fxFlex>
            <button mat-mini-fab color="light"  aria-label="expand">
              <mat-icon>aspect_ratio</mat-icon>
            </button>
          </div>
          <div fxFlex>
            <button mat-mini-fab color="light"  aria-label="expand">
              <img src="../../../assets/img/Ellipse_1.png" />
            </button>
          </div>
          <div fxFlex>
            <button mat-mini-fab color="light"  aria-label="expand">
              <mat-icon>notifications</mat-icon>
            </button>
          </div>
          <div fxFlex>
            <button mat-mini-fab color="light"  aria-label="expand">
              <mat-icon>aspect_ratio</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
