<div class="back-bg">
  <div class="login-container">
    <div class="container">
      <div fxLayout="row" fxflexfill fxLayoutGap="10px grid">
        <div fxFlex="50" fxFlex.gt-xs="100" fxFlexAlign="stretch">
          <div fxLayout="column"  fxLayoutAlign="space-around left" fxFlexAlign="stretch">
            <div fxFlex="20">
              <h3 class="logo">
                Company <br /><span>Logo</span>
              </h3>
            </div>
            <div fxFlex="70">
              <div class="login-heading">
                <h1>welcome on<br /> Company admin portal</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and<br /> typesetting industry. Lorem Ipsum has been the industry's<br/> standard dummy text.</p>
              </div>
            </div>
            <div fxFlex="10">
              <div class="quick-links" >
                <ul>
                  <li>
                    <a>About us</a>
                  </li>
                  <li>
                    <a>Contact us</a>
                  </li>
                  <li>
                    <a routerLink="/">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50" fxFlex.gt-xs="100" >
          <mat-card class="loing-card" >
            <mat-card-header>
              <mat-card-title>Reset password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Recover password Lorem Ipsum is simply<br /> dummy text of the printing.</p>
              <form name="resetform" (ngSubmit)="reset()" #resetform="ngForm">
                  <mat-form-field appearance="standard">
                    <input [type]="fieldNewPass ? 'text' : 'password'" matInput  #newPassword="ngModel" [(ngModel)]="formData.newPassword" name="newPassword" required autocomplete="off" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9]).{8,}$">
                    <mat-icon matSuffix (click)="fieldNewPass = !fieldNewPass" style="cursor: pointer;">{{fieldNewPass?'visibility_off':'visibility'}}</mat-icon>
                  </mat-form-field>
                  <div [hidden]="newPassword.valid || newPassword.untouched">
                    <span class="error"  *ngIf="newPassword.errors?.required">New Password is mandatory.</span>
                    <span class="error"  *ngIf="newPassword.errors?.pattern">Paasword must be 8 Charecter length and contain an uppercase later, a special charecter and a number</span>
                  </div>
                  <mat-label>ConfirmPassword</mat-label>
                  <mat-form-field appearance="standard">
                    <input [type]="fieldconPass ? 'text' : 'password'" matInput  #confirmPassword="ngModel" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required autocomplete="off">
                    <mat-icon matSuffix (click)="fieldconPass = !fieldconPass" style="cursor: pointer;">{{fieldconPass?'visibility_off':'visibility'}}</mat-icon>
                  </mat-form-field>
                  <div [hidden]="formData.newPassword != formData.confirmPassword">
                    <span class="error"  >Confirm Password and New Password are not matched.</span>
                  </div>
                  <mat-label></mat-label>
                  <button mat-raised-button color="primary" class="block-btn login-button"  [disabled]="!resetform.valid || formData.newPassword != formData.confirmPassword">
                    RESET PASSWORD
                  </button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="front-bg">
  </div>
</div>
