@import "./../auth.scss";

@media (max-width:414px){
    .welhide{
        display: none;
    }
    .reset {
        margin: 0 10% 0 0%;
    }
    // mat-form-field.tyu {
    //     width: 79%;
    //     height: 45px;
    // }
    p.tip{
        margin: 0 0 0 0;
    }
}