<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Dashboard
    </h3>
    <ul class="breadcrumb">
      <li>Dashboard</li>
    </ul>
  </div>
</div>
<div  fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="25"  fxFlex.gt-xs="100">
    <mat-card class="dashboard-count">
      <h4>Active Employees</h4>
      <h2>100 / 150</h2>
      <img src="../../../assets/img/Image_7.png" />
    </mat-card>
  </div>
  <div fxFlex="25" fxFlex.gt-xs="100">
    <mat-card class="dashboard-count">
      <h4>Late Coming</h4>
      <h2>20</h2>
      <img src="../../../assets/img/Image_2.png" />
    </mat-card>
  </div>
  <div fxFlex="25" fxFlex.gt-xs="100">
    <mat-card class="dashboard-count">
      <h4>Working From Home</h4>
      <h2>100</h2>
      <img src="../../../assets/img/Image_2.png" />
    </mat-card>
  </div>
  <div fxFlex="25" fxFlex.gt-xs="100">
    <mat-card class="dashboard-count">
      <h4>On leave</h4>
      <h2>100</h2>
      <img src="../../../assets/img/Image_2.png" />
    </mat-card>
  </div>
</div>
<div  fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="50"  fxFlex.gt-xs="100">
    <mat-card class="dashboard-detail">
      <mat-card-header>
        <mat-card-title>Contracts Renewed</mat-card-title>
      </mat-card-header>
      <h4>Active Employees</h4>
      <h2>100 / 150</h2>
      <img src="../../../assets/img/Image_7.png" />
    </mat-card>
  </div>
  <div fxFlex="50" fxFlex.gt-xs="100">
    <mat-card class="dashboard-count">
      <h4>Late Coming</h4>
      <h2>20</h2>
      <img src="../../../assets/img/Image_2.png" />
    </mat-card>
  </div>
</div>
