<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Employee Salary
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a>Salary Management</a></li>
      <li>Employee Salary</li>
    </ul>
  </div>
</div>
<div fxLayout="row" fxflexfill class="mid-graph" fxLayoutGap="10px grid" >
  <div fxFlex="100"  fxFlex.gt-xs="100">
    <mat-card class="dashboard-detail">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="15">
            <span class="card-subtitle total">
              total salaries
            </span><br />
            <span class="card-title fnt">
              ${{totalPercent && totalPercent.total}}
            </span><br />
            <span class="card-info">
              <mat-icon class="blue-txt" *ngIf="totalPercent && totalPercent.sign == '+'">north</mat-icon>
              <mat-icon class="red-txt" *ngIf="totalPercent && totalPercent.sign == '-'">south</mat-icon>
              {{totalPercent && totalPercent.percent}}%
            </span><br />
            <span class="card-subtitle since">
              Since last month
            </span>
          </div>
          <div fxFlex="20">
            <app-doughnut *ngIf="graphData" [data]="graphData"></app-doughnut>
          </div>
          <div fxFlex="65">
            <div class="scroller">
              <div class="scroll-x">
              <div class="department-detail-separation" *ngFor="let item of percentData">
                <span class="bar" [ngStyle]="{background: item.color}"></span><br />
                <span class="card-subtitle department">
                  {{item.department}}
                </span><br />
                <span class="card-title current">
                  ${{item.current}}
                </span><br />
                <span class="card-info percent">
                  <mat-icon class="blue-txt" *ngIf="item.sign == '+'">north</mat-icon>
                  <mat-icon class="red-txt" *ngIf="item.sign == '-'">south</mat-icon>
                  {{item.percent}}%
                </span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div class="scroller">
  <div class="scroll-x"> -->

<div fxLayout="row" fxflexfill class="mid-graph" fxLayoutGap="10px grid" >
  <div fxFlex="100"  fxFlex.gt-xs="100">
    <mat-card class="dashboard-detail" >
      <mat-card-content>
        <mat-toolbar color="light">
          <span class="mat-toolbar-title">Employee Salary</span>&nbsp;&nbsp;
          <span class="spacer"></span>
          <mat-form-field class="search-field"  appearance="standard">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput placeholder="Search" #input  (keyup)="applyFilter($event)">
          </mat-form-field>
          <mat-form-field class="search-field"  appearance="standard"  >
            <mat-select [(ngModel)]="formData.isType" name="isType" placeholder="Generate Report" (ngModelChange)="GenerateReport($event)">
              <mat-option  value="month">Current Month</mat-option>
              <mat-option  value="halfYear">Half year</mat-option>
              <mat-option  value="year">Full Year</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-mini-fab color="light" class="cal-button" aria-label="Sync" (click)="showDepartmentSalary()">
            <mat-icon>sync</mat-icon>
          </button>

          <button mat-flat-button color="primary" class="cal-button" aria-label="genearte" [routerLink]="'/payslip-generate'">
            Generate salary
          </button>

        </mat-toolbar>
        <div class="scroller">
          <div class="scroll-x">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- profile_picture Column -->
          <ng-container matColumnDef="profile_picture">
            <th mat-header-cell *matHeaderCellDef >  </th>
            <td mat-cell *matCellDef="let element">
              <!-- ./assets/img/Ellipse_1.png -->
              <img src="{{filePath}}{{element.profile_picture}}" *ngIf="element.profile_picture != ''" />
              <img src="./assets/img/Ellipse_1.png" *ngIf="element.profile_picture == ''" />
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}}</td>
          </ng-container>

          <!-- Department Column -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>

          <!-- Designation Column -->
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Designation </th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
          </ng-container>

          <!-- Salary Column -->
          <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Salary </th>
            <td mat-cell *matCellDef="let element"><b> ${{element.salary}} </b></td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action Required </th>
            <td mat-cell *matCellDef="let element; let i = index" >
              <span *ngIf="!accessPermission">No Permission</span>
              <div *ngIf="percentData.length > 0">
                <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" (click)="showTemplate(1,element.user_id)" *ngIf="accessPermission"
                matTooltip="Preview"   color="light"><mat-icon color="green">preview</mat-icon></button>
                <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" (click)="mailPaySlip(element.user_id)" *ngIf="accessPermission"
                matTooltip="Send salary slip"   color="light"><mat-icon color="accent">send</mat-icon></button>
                <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" (click)="downloadSlip(1,element.user_id)" *ngIf="accessPermission"
                matTooltip="Download"   color="light"><mat-icon color="primary">download</mat-icon></button>
              </div>
              <span *ngIf="accessPermission && percentData.length == 0" class="blue-txt" [routerLink]="'/payslip-generate'">Generate Salary</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              <button mat-flat-button color="primary" class="cal-button" aria-label="genearte" [routerLink]="'/payslip-generate'">
                Generate salary
              </button>
            </td>
          </tr>
        </table>
        </div>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div id="sampleCsv" style="display:none" *ngIf="reportData.length > 0">
  <table >
    <thead>
      <tr>
        <td colspan="13" >
          <h5 class="mb-0" style="font-size: 13px;">
           Salary Report
          </h5>
        </td>
      </tr>
      <tr style="text-align: left;">
        <th ><b>Sno</b></th>
        <th><b>Payslip Id</b></th>
        <th ><b>Department</b></th>
        <th *ngFor="let user of reportData[0].userDetail"><b>{{user.key}}</b></th>
        <th *ngFor="let sal of reportData[0].userEarning"><b>{{sal.label}}</b></th>
        <th><b>Net Salary</b></th>
        <th><b>Month</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reportData;let i = index">
        <td>{{i+1}}</td>
        <td>{{item.paySlipId}}</td>
        <td>{{item.department}}</td>
        <td *ngFor="let user of item.userDetail">{{user.value}}</td>
        <td *ngFor="let sal of item.userEarning">{{sal.value}}</td>
        <td>{{item.netSalary}}</td>
        <td>{{getDate(item.salaryDate)}}</td>
        <td>joh@gmail.com</td>

      </tr>
    </tbody>
  </table>

</div>

<!-- </div>
</div> -->
