<div fxLayout="row" fxLayoutAlign="space-around left" >
  <div fxFlex>
    <h3 class="page-title">
      Survey
    </h3>
    <ul class="breadcrumb">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a>Survey</a></li>
      <li>Survey Detail</li>
    </ul>
  </div>
</div>
<div fxLayout="row" fxflexfill fxLayoutGap="10px grid" >
  <div fxFlex="100">
    <mat-card class="employee-tab">
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Summary" >
            <div fxLayout="row">
              <div fxFlex="50">
                <app-vertical-bar *ngIf="graphData" [data]="graphData"></app-vertical-bar>
              </div>
              <div fxFlex="50" dir="rtl">
                <app-doughnut *ngIf="graphData" [data]="graphData"></app-doughnut>
              </div>
            </div>
            <mat-card class="employee-tab">
              <mat-card-header>
                <mat-card-title>Survey Quetions</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid"  class="question-section">
                  <div fxFlex="10">
                    <span class="row-title"> 1</span>
                  </div>
                  <div fxFlex="40">
                    <span class="row-title">Lorem Ipsum Is A Placeholder Text.</span>
                    <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                  </div>
                  <div fxFlex="20">
                    <span>Yes</span>
                    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                    <span>No</span>
                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                    <span>Not Answered</span>
                    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                  </div>
                  <div fxFlex="30" dir="rtl">
                    <div class="progress-bar-detail">
                      <mat-progress-spinner
                      class="example-margin"
                      color="accent"
                      mode="determinate"
                      value="60">
                    </mat-progress-spinner>
                    <span class="spinner-value">
                      60%
                    </span>
                    <p>Attempted</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid"  class="question-section">
                  <div fxFlex="10">
                    <span class="row-title"> 1</span>
                  </div>
                  <div fxFlex="40">
                    <span class="row-title">Lorem Ipsum Is A Placeholder Text.</span>
                    <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                  </div>
                  <div fxFlex="20">
                    <span>Yes</span>
                    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                    <span>No</span>
                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                    <span>Not Answered</span>
                    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                  </div>
                  <div fxFlex="30" dir="rtl">
                    <div class="progress-bar-detail">
                      <mat-progress-spinner
                      class="example-margin"
                      color="accent"
                      mode="determinate"
                      value="60">
                    </mat-progress-spinner>
                    <span class="spinner-value">
                      60%
                    </span>
                    <p>Attempted</p>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Questions" >
            <mat-card class="employee-tab">
              <mat-card-content>
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid"  class="question-section">
                  <div fxFlex="10">
                    <span class="row-title"> 3</span>
                  </div>
                  <div fxFlex="40">
                    <span class="row-title">Lorem Ipsum Is A Placeholder Text.</span>
                    <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                  </div>
                  <div fxFlex="20">
                    <span>Yes</span>
                    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                    <span>No</span>
                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                    <span>Not Answered</span>
                    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                  </div>
                  <div fxFlex="30" dir="rtl">
                    <div class="progress-bar-detail">
                      <mat-progress-spinner
                      class="example-margin"
                      color="accent"
                      mode="determinate"
                      value="60">
                    </mat-progress-spinner>
                    <span class="spinner-value">
                      60%
                    </span>
                    <p>Attempted</p>
                    </div>
                  </div>
                </div>
                <ul class="paginations">
                  <li>1</li>
                  <li>2</li>
                  <li class="active-page">3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                </ul>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <div fxLayout="row"  class="mid-graph" >
                  <div fxFlex="100"  fxFlex.gt-xs="100"  >
                    <mat-toolbar color="light" class="tool">
                      <span class="mat-toolbar-title icic"> <b>Attempted by </b> </span>
                      <span class="mat-toolbar-title icici"> 85/100 </span>
                      <span class="spacer"></span>

                    </mat-toolbar>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                      <!-- profile_picture Column -->
                      <ng-container matColumnDef="profile_picture">
                        <th mat-header-cell *matHeaderCellDef >  </th>
                        <td mat-cell *matCellDef="let element">
                          <!-- ./assets/img/Ellipse_1.png -->
                          <img src="{{filePath}}{{element.profile_picture}}" *ngIf="element.profile_picture != ''" />
                          <img src="./assets/img/Ellipse_1.png" *ngIf="element.profile_picture == ''" />
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Email Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                      </ng-container>

                      <!-- Status Column -->
                      <ng-container matColumnDef="answer">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Answer </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-icon color="accent">thumb_up_alt</mat-icon> <span style="display: block;">Yes</span>
                        </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Other Information </th>
                        <td mat-cell *matCellDef="let element" >
                          <span *ngIf="!accessPermission">No Permission</span>
                          <p>Descritpion</p>

                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data found.</td>
                      </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

                  </div>
                </div>

            </mat-card>

          </mat-tab>
          <mat-tab label="Individual Responses" >
            <mat-card class="employee-tab">
              <mat-card-content>
                <div fxLayout="row" fxflexfill fxLayoutGap="10px grid"  >
                  <div fxFlex="20">

                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <div fxLayout="row"  class="mid-graph" >
                  <div fxFlex="100"  fxFlex.gt-xs="100"  >
                    <mat-toolbar color="light" class="tool">
                      <span class="mat-toolbar-title icic"> <b>Attempted by </b> </span>
                      <span class="mat-toolbar-title icici"> 85/100 </span>
                      <span class="spacer"></span>

                    </mat-toolbar>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                      <!-- profile_picture Column -->
                      <ng-container matColumnDef="profile_picture">
                        <th mat-header-cell *matHeaderCellDef >  </th>
                        <td mat-cell *matCellDef="let element">
                          <!-- ./assets/img/Ellipse_1.png -->
                          <img src="{{filePath}}{{element.profile_picture}}" *ngIf="element.profile_picture != ''" />
                          <img src="./assets/img/Ellipse_1.png" *ngIf="element.profile_picture == ''" />
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Email Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                      </ng-container>

                      <!-- Status Column -->
                      <ng-container matColumnDef="answer">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Answer </th>
                        <td mat-cell *matCellDef="let element">
                          <mat-icon color="accent">thumb_up_alt</mat-icon> <span style="display: block;">Yes</span>
                        </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Other Information </th>
                        <td mat-cell *matCellDef="let element" >
                          <span *ngIf="!accessPermission">No Permission</span>
                          <p>Descritpion</p>

                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data found.</td>
                      </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

                  </div>
                </div>

            </mat-card>

          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
