<div fxLayout="row" fxLayoutAlign="space-around left" >
    <div fxFlex>
      <h3 class="page-title">
        Insurance
      </h3>
      <ul class="breadcrumb">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li>Insurance</li>
      </ul>
    </div>
  </div>

  <mat-card>
    <mat-toolbar color="light" class="tool" *ngIf="responseData.length == 0">
      <span class="mat-toolbar-title icic"> Add Insurance </span>
      <span class="spacer"></span>
      <button mat-mini-fab color="primary" class="cal-button"   aria-label="Add new" (click)="openSubAddModal('','')">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>

    <div fxLayout="row"  class="mid-graph" *ngFor="let item of responseData;let i = index;">
        <div fxFlex="100"  fxFlex.gt-xs="100"  >
          <mat-toolbar color="light" class="tool">
            <span class="mat-toolbar-title icic"> <b> {{item.insuranceName}}</b> </span>
            <span class="mat-toolbar-title icici">  {{item.date}}  </span>
            <span class="spacer"></span>
            <button mat-mini-fab color="primary" class="cal-button"  aria-label="Add new" (click)="openSubAddModal(item.insuranceName,item.date)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-toolbar>


          <table class="table">
            <thead>
              <tr>
                <th width="10%">Plan Id</th>
                <th width="10%">Name of Plan</th>
                <th width="10%">Members</th>
                <th width="15%">Table of benefits</th>
                <th width="15%">Network</th>
                <th width="25%">Action Required</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sub of item.data" >
                <td>{{sub.insuranceDetail_id}}</td>
                <td>{{sub.insurance_Plan}}</td>
                <td>{{sub.member}}</td>
                <td><a href="{{sub.insurance_Benefit}}" target="_blank">View Benifits</a></td>
                <td><a href="{{sub.network}}" target="_blank">{{sub.network}}</a></td>
                <td><button mat-mini-fab  class="cal-button" #tooltip="matTooltip"
                  matTooltip="Delete"   color="light" (click)="confirmDialog(sub.insuranceDetail_id)"><mat-icon color="warn">delete</mat-icon></button>
                  <button mat-mini-fab  class="cal-button" #tooltip="matTooltip" (click)="openSubEditModal(item,sub)"
                  matTooltip="Edit"   color="light"><mat-icon color="green">edit</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>

  </mat-card>
