/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif;}

:root {

  /* Colors: */
  --unnamed-color-3d3d3d: #3D3D3D;
  --unnamed-color-000000: #000000;
  --unnamed-color-e0e0e0: #E0E0E0;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-3f51b5: #3F51B5;
  --unnamed-color-ffaa00: #FFAA00;
  --unnamed-color-f44336: #F44336;
  --unnamed-color-c86ce6: #C86CE6;
  --unnamed-color-ff4081: #FF4081;

  /* Font/text values */
  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-44: 44px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-35: 35px;
  --unnamed-line-spacing-56: 56px;
  --unnamed-line-spacing-65: 65px;
  --unnamed-text-transform-titlecase: titlecase;
  }

  /* Character Styles */
  .unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-transform: var(--unnamed-text-transform-titlecase);
  }
  .unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-666666);
  text-transform: var(--unnamed-text-transform-titlecase);
  }
  .unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-44);
  line-height: var(--unnamed-line-spacing-65);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-transform: var(--unnamed-text-transform-titlecase);
  }
  .unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-666666);
  text-transform: var(--unnamed-text-transform-titlecase);
  }
  .unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-23);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-666666);
  text-transform: var(--unnamed-text-transform-titlecase);
  }
  .unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-56);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-transform: var(--unnamed-text-transform-titlecase);
  }

  .no-padding {
    padding: 0 !important;
  }
  .page-title{
    text-align: left;
    font: normal normal 600 24px/35px Poppins !important;
    letter-spacing: 0px !important;
    color: #3D3D3D !important;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 10px !important;
    padding-left: 10px;
  }
  .img-fab span.mat-button-wrapper {
    padding: 0;
  }
  .breadcrumb{
    list-style: none;
    margin:0 0 25px;
    padding-left: 10px;
    li{
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      text-transform: capitalize;
      opacity: 0.5;
      display: inline;
      padding: 0 15px 0 0;
      a{
        text-decoration: none;
        color: var(--unnamed-color-000000);
        &:after{
          content:">";
          margin-left: 15px;
        }
      }

    }
  }

  .mat-drawer-inner-container {
    max-height: calc(100vh - 50px);
    padding: 20px;
    width: 225px !important;

  }
  .mat-drawer-inner-container::-webkit-scrollbar {
    width: .5em;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background-color: #FFAA00;
    border-radius:10px
  }


  button.round-btn {
    border-radius: 20px;
  }
  table.mat-table {
    width: 100%;
    box-shadow: none;
    font-family:Poppins;
  }
  .mat-form-field {
    width: 93%;
    border: 1px solid var(--unnamed-color-e0e0e0);
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    opacity: 1;
    padding-left:15px;
    padding-right:15px;

  }
  .mat-form-field-underline {
    display: none;
  }
  button.block-btn {
    display: block;
    width: 100%;
  }
  .search-field {
    width: 215px;
    background: #fff;
    border-radius: 100px;
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
    .mat-form-field-flex {
      flex-direction: row-reverse;
    }
    .mat-form-field-infix {
      padding: 8px !important;
    border-top: 0px !important;
    }
    mat-icon.mat-icon {
      position: absolute;
      top: -16px;
      color: #3D3D3D;
      font-size:15px;
      opacity: 0.5;
    }
    input {
      padding-left: 30px !important;
   }
   span.mat-form-field-label-wrapper {
    margin-left: 31px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 15px/23px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 0.5;
  }
  }
  .user-contact .mat-list-item-content{
    flex-direction: row-reverse !important;
    .list-img {
      margin-right: 15px;
    }
    .mat-line.list-name {
      text-align: left;
      font-family: Poppins  !important;
      font-size:15px;
      line-height: 26px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #000000;
      text-transform: capitalize;
      opacity: 1;
   }
   .mat-line.list-desc{
      text-align: left;
      font: normal normal normal 15px/23px Poppins !important;
      letter-spacing: 0px;
      color: #3D3D3D;
      text-transform: capitalize;
      opacity: 1;
   }
  }
  .chat-contact-tabs {
    mat-tab-header.mat-tab-header {
      border: 0 !important;
    }
    div.mat-tab-label {
    min-width: 10px !important;
    padding: 0 !important;
    }
    mat-ink-bar.mat-ink-bar {
      display: none;
    }
    .mat-tab-label-content {
      background: #ecedf7 0% 0% no-repeat padding-box;
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/27px Material-Design-Iconic-Font;
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-3F51B5);
      text-align: right;
      font: normal normal normal 20px/27px Material-Design-Iconic-Font;
      letter-spacing: 0px;
      color: #3F51B5;
      text-transform: capitalize;
      opacity: 1;
      border-radius: 100%;
      padding: 10px;
      display: flex;
      margin: 0 7px;
      mat-icon.mat-icon {
        font-size: 20px;
        text-align: center;
        line-height: 26px;
     }
    }
    .mat-tab-label-active{
      opacity:1;
      .mat-tab-label-content{
        color:#fff;
        background: #3F51B5;
      }
    }
  }

.chat-footer{
  display:flex;
  mat-form-field {

    border: none !important;
    width:90%;
    margin-bottom: 15px;
    .mat-form-field-infix {
      padding: 0px 0 7px !important;
    }
    input {
      width:  85% !important;
      margin-left: 15px !important;
    }
    span.mat-form-field-label-wrapper {
      left: 5%;
    }
  }
  button{
    top: -10px;
  }
  .mat-form-field-wrapper {
    background: #f2f2f2;
    border-radius: 20px;
    padding: 0 15px;
  }
  .better-percent{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 15px/23px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 0.5;
  }
}

.card-title{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-35) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3d3d);
  text-align: center;
  font: normal normal 600 24px/35px Poppins;
  letter-spacing: 0px;
  color: #3D3D3D;
  text-transform: capitalize;
  opacity: 1;
}

.card-subtitle{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal normal 15px/23px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  opacity: 0.5;
}
.employee-tab{
  mat-tab-header.mat-tab-header {
    padding-left: 30px;
  }
  .mat-tab-label {
    padding-left: 0;
    justify-content:start;
  }
  .mat-tab-label-active{
    opacity:1;

    .mat-tab-label-content {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/27px var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-3f51b5);
      text-align: left !important;
      font: normal normal 600 18px/27px Poppins;
      letter-spacing: 0px;
      color: #3F51B5;
      text-transform: capitalize;
      opacity: 1;
      min-width: 90px;
      justify-content: start !important;
      padding: 0 25px 0 0;
      height: 55px;
    }
  }
  .mat-tab-label-content {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/27px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.24;
  }
  mat-ink-bar.mat-ink-bar {
    max-width: 30px !important;
    height: 4px;
  }
}

mat-divider {
  margin: 30px 0 !important;
}
mat-chip {
  opacity: 0.8;
  margin: 10px !important;
}

app-dashboard ,app-login, app-forgot-password, app-reset-password, app-calendar, app-chat, app-employees,app-employee-detail, app-setting {
  width: 100%;
}
